$text_color: #4c4f4d;
$color-dark-green: #0c8d3b;
$color-dark-black: #181725;
$color-white: #fff;
$color-black: #000;
$peragraf-color: #7c7c7c;
$border-color: #e2e2e2;
$rating-color: #ffdc45;
$red: #e62a2e;

@mixin hide_scroll {
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge add Firefox */
	& {
		-ms-overflow-style: none;
		scrollbar-width: none; /* Firefox */
	}
}

@mixin jcc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product_card {
	width: 100%;
	height: 100%;
	min-width: 173px;
	min-height: 248px;
	border-radius: 18px;
	border: 1px solid #e2e2e2;
	.pc_img {
		margin: auto;
		width: 100%;
		height: 50%;
		@include jcc;
		ion-img {
			width: 90%;
			height: 90%;
			object-fit: contain;
		}
	}
	.pc_titles {
		width: 100%;
		height: 25%;
		padding: 0px 0 0 10px;
		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 18px;
			text-align: left;
			margin: 0;
		}
		small {
			font-size: 14px;
			font-weight: 500;
			line-height: 18px;
			letter-spacing: 0px;
			text-align: left;
			margin: 0;
			color: $peragraf-color;
		}
	}
	.pc_price_btn {
		margin: auto;
		width: 90%;
		height: 25%;
		@include jcc;
		justify-content: space-between;
		.pc_price {
			width: 30%;
			font-size: 18px;
			font-weight: 600;
			line-height: 18px;
			letter-spacing: 0.10000000149011612px;
			text-align: left;
		}
		.pd_add_to_cart {
			ion-button {
				--background: transparent !important;
				--box-shadow: none !important;
				color: black;
			}
			.pd_atc_btn_rm {
				color: #b3b3b3;
				font-size: 17px;
				width: 30px;
			}
			.pd_atc_btn_add {
				color: #0c8d3b;
				font-size: 17px;
				width: 30px;
			}
			.pd_atc_btn_count {
				border: 1px solid #e2e2e2;
				width: 30px;
				height: 30px;
				border-radius: 15px;
				font-weight: 600;
				font-size: 12px;
			}
		}
		.pc_btn {
			width: 70%;
			text-align: right;
			ion-button {
				width: 44px;
				height: 44px;
				--border-radius: 15px !important;
				padding-left: -15px !important;
				--padding-start: -15px !important;

				padding-bottom: -15px !important;

				ion-icon {
					width: 20px !important;
					font-weight: 900;
				}
			}
		}
	}
}
